@import "vendor/bootstrap-4.0/bootstrap", "vendor/font-awesome-4.7.0/font-awesome";

@import "base/reset", "base/typography";

@import "partials/variables", "partials/mixins", "partials/layout";

@import "layout/header";

@import "components/ui-elements";

body {
  font-family: $font-primary-en;
  background: #212429;
  color: #fff;
  
}
h1,
h2,
h3 {
  font-family: $font-primary-en;
}

.wow {
  visibility: hidden;
}

a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

section {
  @include margin(0, 0, 0, 0);

  @include breakpoint(md) {
    @include margin(0, 0, 0, 0);
  }

  @include breakpoint(sm) {
    @include margin(0, 0, 0, 0);
  }
}

@include breakpoint(sm) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
main {
  @include padding(0, 0, 0, 0);

  @include breakpoint(sm) {
    @include padding(0, 0, 0, 0);
  }
}

.nomargin {
  @include margin(0, 0, 0, 0);
}
.nopadding {
  @include padding(0, 0, 0, 0);
}

.left-page-wrapper,
.right-page-wrapper,
.left-sidebar-wrapper,
.right-sidebar-wrapper,
.left-sidebar-wrapper .sidebar-brand > a,
.left-sidebar-wrapper .sidebar-dropdown > a:after,
.left-sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.left-sidebar-wrapper ul li a i,
.left-page-content,
.right-page-content,
.left-sidebar-wrapper .sidebar-search input.search-menu,
.left-sidebar-wrapper .sidebar-search .input-group-text,
.left-sidebar-wrapper .sidebar-menu ul li a,
#show-left-sidebar,
#close--left-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/

.left-page-wrapper {
  height: 100vh;
}
.main-body-content{
  padding: 50px;
}


/*----------------toggeled sidebar----------------*/

.left-page-wrapper.left-toggled .left-sidebar-wrapper {
  left: 0px;
}

.right-page-wrapper.right-toggled .right-sidebar-wrapper {
  right: 0px;
}

@media screen and (min-width: 768px) {
  .left-page-wrapper.left-toggled .left-page-content {
    padding-left: 300px;
  }
}
.left-page-content {
  margin-top: 69px;
  overflow: hidden;
}

/*----------------show sidebar button----------------*/
#show-left-sidebar {
  position: fixed;
  left: 0;
  top: 150px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  text-align: center;
  padding: 10px 0;
  transition-delay: 0.3s;
}
.left-page-wrapper.left-toggled #show-left-sidebar {
  left: -40px;
}

#show-right-sidebar {
  position: fixed;
  right: 0;
  top: 150px;
  border-radius: 4px 0 0 4px;
  width: 35px;
  text-align: center;
  padding: 10px 0;
  transition-delay: 0.3s;
}
.right-page-wrapper.right-toggled #show-right-sidebar {
  right: -40px;
}
/*----------------sidebar-wrapper----------------*/

.left-sidebar-wrapper {
  width: 300px;
  height: 100%;
  max-height: 100%;
  
  position: fixed;
  top: 69px;
  left: -340px;
  z-index: 9;
  border-right: 1px solid #2f3034;
}

.left-sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.left-sidebar-wrapper a {
  text-decoration: none;
}

.right-sidebar-wrapper {
  width: 300px;
  height:calc(100% + 70px);
  position: absolute;
  top: 69px;
  right: -340px;
  z-index: 999;
  border-left: 1px solid #2f3034;

  .nav-tabs {
    border-bottom: 1px solid #2f3034;
    .nav-item {
      border-right: 1px solid #2f3034;
    }
    .nav-link {
      @include border-radius(0);
      border: 0;
      font-weight: bold;
      font-size: 11px;
      background: #2a2d32;
      color: #86898e;
      padding: 10px 0;

      &:hover {
        border: 0;
        color: #fff;
        background: #212429;
      }
      &.active {
        background: #212429;
        border-bottom: 1px solid #f7b432;
        color: #fff;
      }
    }
  }
}

/*----------------sidebar-content----------------*/

.left-sidebar-content {
  max-height: calc(100% - 100px);
  height: calc(100% - 100px);
  overflow-y: auto;
  position: relative;

  .nav-tabs {
    border-bottom: 1px solid #2f3034;
    .nav-item {
      border-right: 1px solid #2f3034;
    }
    .nav-link {
      @include border-radius(0);
      border: 0;
      font-weight: bold;
      font-size: 11px;
      background: #2a2d32;
      color: #86898e;
      padding: 10px 0;

      &:hover {
        border: 0;
        border-bottom: 1px solid #f7b432;
        color: #fff;
      }
      &.active {
        background: none;
        border-bottom: 1px solid #f7b432;
        color: #fff;
      }
    }
  }

  #showLeft {
    text-align: center;
    border-bottom: 1px solid #2f3034;
    font-weight: bold;
    font-size: 13px;
    color: #86898e;
    padding: 10px 0;
    background: #2a2d32;
    display: block;
  }
}

.left-sidebar-content.desktop {
  overflow-y: hidden;
}
.right-sidebar-content.desktop {
  overflow-y: hidden;
}

.right-sidebar-content {

 /*  height: calc(100% - 230px); */
  position: relative;
  padding: 20px;
}
/*-----------------------sidebar-search------------------------*/

.sidebar-search {
  border-bottom: 1px solid #2f3034;
  padding: 15px;

  .input-group {
    background: #d8d8d8;
    @include border-radius(20px);
  }
  .form-control {
    background: none;
    font-weight: bold;
    font-size: 10px;
    height: 35px;
    padding-left: 20px;
    border: 0;
    box-shadow: none;
    &:focus {
      box-shadow: none;
    }
  }
  .input-group-text {
    display: block;
    margin: 6px 12px 0 0;
    color: #86898e;
  }
}

/*--------------------sidebar-brand----------------------*/

.left-sidebar-wrapper .sidebar-brand {
  display: flex;
  background: #212429;
  border-bottom: 1px solid #2f3034;
  justify-content: flex-end;
}

.left-sidebar-wrapper .sidebar-brand #close-left-sidebar {
  cursor: pointer;
  font-size: 20px;
  color: #86898e;
  background: #282c2f;
  padding: 15px 25px;

  &:hover {
    background: #000;
  }
}

.right-sidebar-wrapper .sidebar-brand {
  display: flex;
  background: #212429;
  border-bottom: 1px solid #2f3034;
  justify-content: flex-start;
}

.right-sidebar-wrapper .sidebar-brand #close-right-sidebar {
  cursor: pointer;
  font-size: 20px;
  color: #86898e;
  background: #282c2f;
  padding: 15px 25px;

  &:hover {
    background: #000;
  }
}

/*----------------------sidebar-menu-------------------------*/

.left-sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}

.left-sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 20px 5px 20px;
  display: inline-block;
}

.left-sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 10px 40px 10px 20px;
  border-bottom: 1px solid #2f3034;
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: bold;

  &:hover {
    background-color: #0f1014;
    border-bottom: 1px solid #f7b432;
  }
  &:focus {
    background-color: #0f1014;
    border-bottom: 1px solid #f7b432;
  }
}

.left-sidebar-wrapper .sidebar-menu ul li a img {
  margin-right: 15px;
}

.left-sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "FontAwesome";
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 20px;
  top: 8px;
  font-size: 22px;
}

.left-sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 0;
  font-size: 13px;
}

.left-sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a {
  padding: 14px 30px 14px 40px;
  font-weight: bold;

  &:hover {
    padding: 14px 30px 14px 50px;
  }
}

.left-sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
  background: #17181c;
}
.right-sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
  background: #17181c;
}

.left-sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ffc20f;
  border: 0px none #ffffff;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.left-sidebar-wrapper {
  background: #212429;
}
.right-sidebar-wrapper {
  background: #212429;
}

.left-sidebar-wrapper .sidebar-search input.search-menu,
.left-sidebar-wrapper .sidebar-search .input-group-text {
  border-color: transparent;
  box-shadow: none;
}

.left-sidebar-wrapper .sidebar-header .user-info .user-role,
.left-sidebar-wrapper .sidebar-header .user-info .user-status,
.left-sidebar-wrapper .sidebar-search input.search-menu,
.left-sidebar-wrapper .sidebar-search .input-group-text,
.left-sidebar-wrapper .sidebar-brand > a,
.left-sidebar-wrapper .sidebar-menu ul li a,
.sidebar-footer > a {
  color: #86898e;
}

.left-sidebar-wrapper .sidebar-menu ul li:hover > a,
.left-sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a,
.left-sidebar-wrapper .sidebar-header .user-info,
.left-sidebar-wrapper .sidebar-brand > a:hover,
.left-sidebar-footer > a:hover i {
  color: $white-color;
}
.left-side-bar-icon{
  @include border-radius(3px);
 
  color: #fff;
  font-size: 12px;
  padding:5px 10px;
  margin-right: 15px;
  font-style: normal;
}
.left-side-bar-icon--blue{
  background-color: #094fa2;
  border: 1px solid #8eacde;
}
.left-side-bar-icon--orange{
  background-color: #bc5b19;
  border: 1px solid #bc5b19;
}

.history-collapse {
  background: #212429;
  border-left: 1px solid #2f3034;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: absolute;
  top: 127px;
  z-index: 10;
  width: auto;
  height:calc(100% + 12px);

  .collapse-header {
    background: #212429;
    border-bottom: 1px solid #2f3034;

    .rightbackBtn {
      color: #86898e;
      background: #282c2f;
      padding: 8px 15px;
      display: inline-block;
      &:hover {
        background: #000;
      }
    }
  }

  .history-collapse-content {
    background: #212429;
  height: 450px;
    overflow-y: auto;
    .item {
      border-bottom: 1px solid #2f3034;
      padding: 20px;
      .content {
        margin-bottom: 20px;
        p {
          color: $white-color;
          font-weight: bold;
          font-size: 13px;
        }
      }
    }
  }
}

.plan-collapse {
  background: #212429;
  border-right: 1px solid #2f3034;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  top: 134px;
  z-index: 8;
  width: auto;
  height: 100%;

  .collapse-header {
    background: #212429;
    border-bottom: 1px solid #2f3034;
    display: flex;
    justify-content: flex-end;

    .leftbackBtn {
      color: #86898e;
      background: #282c2f;
      padding: 8px 15px;
      display: inline-block;
      &:hover {
        background: #000;
      }
    }
  }

  .plan-collapse-content {
    background: #212429;
    height: calc(100% - 180px);
    overflow-y: auto;
    .item {
      border-bottom: 1px solid #2f3034;
      padding: 20px;
      .content {
        figure {
          @include border-radius(5px);
          margin-bottom: 5px;
          width: 150px;
          height: 150px;
          img {
            @include border-radius(5px);
          }
        }
        p {
          color: $white-color;
          font-weight: bold;
          font-size: 13px;
          text-align: center;
        }
      }
    }
  }
}

.form-wrap {
  background-color: #2a2d32;
  @include border-radius(15px);
  border-bottom: 3px solid #ffc20f;
  margin-bottom: 20px;

  .form-content {
    padding: 20px;
  }
  .form-group{
    margin-bottom: 10px;
  }
  label {
    font-weight: bold;
    color: $white-color;
    font-size: 10px;
  }
  .form-control {
    font-weight: bold;
    font-size: 10px;
    height: 30px;
    background: #d8d8d8;
    @include border-radius(20px);
  }
  .form-footer {
    background-color: #212026;
    padding: 10px 20px;
    p {
      font-weight: bold;
      color: $white-color;
      font-size: 12px;
      text-align: right;
    }
  }
}

.plan-history-wrap {
  background-color: #2a2d32;
  @include border-radius(15px);
  overflow: hidden;

  .title {
    background-color: #1b1e23;
    color: $white-color;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 12px;
  }
  .body {
    position: relative;
    &::before {
      position: absolute;
      left: -56px;
      bottom: -85px;
      content: "";
      width: 144px;
      height: 144px;
      background: url(../images/history-bg.png) no-repeat;
    }
    padding: 20px;
    ul {
      margin-bottom: 20px;
      li {
        font-size: 10px;
        color: $white-color;
        margin-bottom: 10px;
        font-weight: bold;
      }
    }
  }
}

.open-projects-row {
  background-color: #0f1012;
  padding: 12px 100px 0 100px;
  width: 100%;
  overflow: hidden;

  &__group {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-y: scroll;
    width: 100%;
  }
  &__item {
    margin-right: 10px;
    margin-bottom: 15px;
  }
  &__item-link {
    display: inline-block;
    font-weight: bold;
    font-size: 11px;
    background: #d8d8d8;
    @include border-radius(50px);
    position: relative;
    color: $black-color;
    padding: 5px 7px 5px 12px;
    border: 1px solid #0f1012;
    display: flex;
    align-items: center;

    .cross-icon {
      @include border-radius(50%);
      display: block;
      height: 25px;
      width: 25px;
      line-height: 21px;
      text-align: center;
      border: 2px solid #0f1012;
      color: #0f1012;
      margin-left: 20px;
    }

    &:hover {
      border: 1px solid #ffc20f;
      background-color: #1e2628;
      color: $white-color;

      .cross-icon {
        border: 2px solid #d8d8d8;
        color: #d8d8d8;
      }
    }
    &.active {
      border: 1px solid #ffc20f;
      background-color: #1e2628;
      color: $white-color;

      .cross-icon {
        border: 2px solid #d8d8d8;
        color: #d8d8d8;
      }
    }
  }
}

.costing-wrap {
  background: #212429;
  border-left: 1px solid #2f3034;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  top: 69px;
  z-index: 10;
  width: 230px;
  height: 100%;

  .sidebar-brand {
    display: flex;
    background: #212429;
    border-bottom: 1px solid #2f3034;
    justify-content: flex-end;

    .backBtn {
      color: #86898e;
      background: #282c2f;
      padding: 8px 15px;
      display: inline-block;
      &:hover {
        background: #000;
      }
    }
  }
}
.main-wrapper {
  position: relative;
  left: 0;
  overflow-x: hidden;
}
.push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.push-right {
  right: -230px;
  .backBtn {
    text-align: left;
  }
  &.pushright-open {
    right: 0;
  }
}
.push-toright {
  left: -230px;
}
.menu-left {
  left: -300px;
  &.left-open {
    left: 300px;
  }
}

.menu-right {
  right: -300px;
  &.right-open {
    right: 300px;
  }
}



#measure-modal {
  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 600px;
    }
  }

  .modal-header {
    border-bottom: 1px solid #2f3034;
    background: #2a2d32;
    h5 {
      color: #d8d8d8;
      font-size: 15px;
    }
    .close {
      @include border-radius(50%);
      width: 30px;
      height: 30px;
      border: 2px solid #fff;
      text-shadow: none;
      color: #fff;
      font-weight: normal;
      font-size: 15px;
      padding: 0;
      margin: 0;
    }
  }
  .modal-content {
    @include border-radius(10px);
    border: 0;
  }
  .modal-body {
    background-color: #212429;
    padding: 0;
    position: relative;
    overflow: hidden;

    &::before {
      position: absolute;
      left: -56px;
      bottom: -35px;
      content: "";
      width: 144px;
      height: 144px;
      background: url(../images/history-bg.png) no-repeat;
    }

    .body-content {
      padding: 15px;
    }

    .form-group {
      margin-bottom: 0;
    }
    label {
      font-size: 10px;
      color: #d8d8d8;
      font-weight: bold;
    }
    .form-control {
      height: 30px;
      font-size: 11px;
      color: #000;
      background: #d8d8d8;
    }
    h4 {
      color: #d8d8d8;
      font-size: 14px;
      background: #2a2d32;
      margin-bottom: 10px;
      padding: 12px 20px;
    }

    .orange-btn {
      padding: 15px 30px;
      margin: 0 30px 30px auto;
    }
  }
}



.subscription-plan-top{
  margin-bottom: 50px;
  h1{
    font-size: 65px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:#ffc20f;
    text-transform: uppercase;
  }
}
.pricing-row {
  .plus {
    border: 1px solid #ffc20f;
  }
}
.pricing-card {
  @include border-radius(5px);
  border: 1px solid #43464b;
  background-color: #1d2025;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include transition(all, 0.5s, ease);

  h3 {
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: bold;

    &.basic-title {
      color: #8bcb59;
    }
    &.plus-title {
      color: #3685d0;
    }
    &.pro-title {
      color: #ce2544;
    }
    &.enterprise-title {
      color: #ffc20f;
    }
  }
  span {
    color: #fff;
    font-size: 13px;
    margin-bottom: 10px;
  }
  .price {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
