.navbar {
    background: #212429;
    @include padding(0, 0, 0, 0);
    border-bottom: 1px solid #666;
    .logo {
        display: inline-block;
        margin: 0 20px 0 20px;
    }
    .nav-link {
        font-size: 10px;
        overflow: hidden;
        font-weight: bold;
        color: #86898e !important;
        padding: 5px 25px !important;
        border-left: #2b2e33 1px solid;

        @include breakpoint(xlg) {
            padding: 5px 45px !important;
        }

        .icon {
            background: url(../images/menu-icons-sprite.png) no-repeat;
            margin: 0 auto 5px;
            background-size: 419px 122px;
            @include transition(all 0.5s ease);
            display: block;
        }
        .icon-01 {
            width: 31px;
            height: 38px;
            background-position: -27px -15px;
        }
        .icon-02 {
            width: 45px;
            height: 38px;
            background-position: -83px -15px;
        }
        .icon-03 {
            width: 31px;
            height: 38px;
            background-position: -148px -15px;
        }
        .icon-04 {
            width: 34px;
            height: 38px;
            background-position: -204px -15px;
        }
        .icon-05 {
            width: 33px;
            height: 38px;
            background-position: -258px -15px;
        }
        .icon-06 {
            width: 33px;
            height: 38px;
            background-position: -309px -15px;
        }
        .icon-07 {
            width: 30px;
            height: 38px;
            background-position: -355px -15px;
        }
        .icon-08 {
            width: 30px;
            height: 38px;
            background-position: -386px -15px;
        }
        &:hover {
            color: #fff !important;
            background: #2b2e33;

            .icon-01 {
                background-position: -27px -55px;
            }
            .icon-02 {
                background-position: -83px -55px;
            }
            .icon-03 {
                background-position: -148px -55px;
            }
            .icon-04 {
                background-position: -204px -55px;
            }
            .icon-05 {
                background-position: -258px -55px;
            }
            .icon-06 {
                background-position: -309px -55px;
            }
            .icon-07 {
                background-position: -355px -55px;
            }
            .icon-08 {
                background-position: -386px -55px;
            }
        }
        &.active {
            color: #fff !important;
            background: #2b2e33;
            border-right: 1px solid #ffc20f;
            border-left: 1px solid #ffc20f;

            .icon-01 {
                background-position: -27px -55px;
            }
            .icon-02 {
                background-position: -83px -55px;
            }
            .icon-03 {
                background-position: -148px -55px;
            }
            .icon-04 {
                background-position: -204px -55px;
            }
            .icon-05 {
                background-position: -258px -55px;
            }
            .icon-06 {
                background-position: -309px -55px;
            }
            .icon-07 {
                background-position: -355px -55px;
            }
            .icon-08 {
                background-position: -386px -55px;
            }
        }
    }
}

.header-sub-nav {
    margin: 0 80px 0 0;
    display: flex;
    li {
        a {
            display: inline-block;
            @include border-radius(3px);
            border: 1px solid #000;
            padding: 10px 0;
            font-size: 10px;
            font-weight: bold;
            color: #86898e;
            margin-right: 10px;
            width: 110px;
            text-align: center;

            &:hover {
                background-color: #000;
                color: #ffc20f;
            }
            &.active {
                background-color: #000;
                color: #ffc20f;
            }
        }
    }
}
