/* action button */
%action-btn {
  display:inline-block;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
  @include padding(8px, 20px, 8px, 20px);
  font-size: 11px;
  font-weight: bold;
  @include border-radius(3px);


  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $white-color;
    @include transform(scaleX(0));
    @include transition(all 0.6s ease);
  }
  &:hover {
    color: $dark-grey-color;
    box-shadow: 3px 5px 6px rgba($black-color, 0.1);
  }
  &:hover:before {
    @include transform(scaleX(1));
    color: $white-color;
  }
}

.orange-btn {
  @extend %action-btn;
  background: #ffc20f;
  color: $black-color;
  &:before {
    transform-origin: 0 50%;
  }
}
.grey-btn {
  @extend %action-btn;
  background: #4d5154;
  color: $white-color;
  &:before {
    transform-origin: 0 50%;
  }
}
