/* regular */

@font-face {
  font-family: 'reem_kufiregular';
  src: url('../fonts/reemkufi-regular-webfont.eot');
  src: url('../fonts/reemkufi-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/reemkufi-regular-webfont.woff2') format('woff2'),
       url('../fonts/reemkufi-regular-webfont.woff') format('woff'),
       url('../fonts/reemkufi-regular-webfont.svg#reem_kufiregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

